.cell {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 500px;
  background-color: var(--gray);
  border: none;
  border-radius: 6px;
  transition: background-color var(--trans-fast);
  overflow: hidden;

  &:hover {
    cursor: pointer;
    background-color: var(--gray-hover);
  }

  &:disabled {
    background-color: var(--light-gray);
    cursor: default;
  }
}

.front,
.back {
  width: 96px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 48px);
  left: calc(50% - 48px);
  backface-visibility: hidden;
  transition: transform var(--trans-rotate);

  img {
    width: 96px;
    height: 96px;
  }
}

.back {
  transform: rotateY(180deg);
}

.active .front {
  transform: rotateY(180deg);
}

.active .back {
  transform: rotateY(360deg);
}
