@import 'src/shared/lib/styles/mixins';

.cell {
  width: 100%;
  height: 100%;
  perspective: 500px;
  background-color: var(--gray);
  border: none;
  border-radius: 6px;
  transition: background-color var(--trans-fast);
  overflow: hidden;

  &:hover {
    cursor: pointer;
    background-color: var(--gray-hover);
  }

  &:disabled {
    background-color: var(--light-gray);
    cursor: default;
  }
}

.cellInner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform var(--trans-rotate);
}

.active .cellInner {
  transform: rotateY(180deg);
}

.front,
.back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;

  img {
    width: 60%;
    height: 60%;
  }
}

.front {
  transform: rotateX(0deg);
}

.back {
  transform: rotateY(180deg);
}
