@import 'src/shared/lib/styles/mixins';

.select {
  position: relative;
}

.button {
  display: flex;
  column-gap: adapt(8px);
  align-items: center;
}

.arrow {
  transform: rotate(180deg);
  transition: transform var(--trans-fast);
}

.arrowUp {
  transform: rotate(0);
}

.selectList {
  position: absolute;
  bottom: calc(100% + 8px);
  right: 0;
  min-width: 100%;
  padding: adapt(8px);
  border-radius: 6px;
  background-color: var(--white);
  border: 1px solid var(--gray);
  animation: fade-in var(--trans-fast) forwards;
}

.selectListItem {
  list-style: none;
  margin-bottom: adapt(8px);

  &:last-child {
    margin-bottom: 0;
  }
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  text-align: start;
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  color: var(--text-black);

  &:hover {
    background-color: var(--light-gray);
  }
}

.check {
  position: relative;
  color: var(--green);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
