@import 'src/shared/lib/styles/mixins';

.infoCard {
  position: relative;
  width: 100%;
  height: adapt(70px);
  background-color: var(--light-gray);
  border-radius: 6px;
  padding: adapt(12px);
  overflow: hidden;
}

.progressBar {
  top: 0;
  left: 0;
  position: absolute;
  height: adapt(8px);
  background-color: var(--green);
  border-radius: adapt(6px) adapt(4px) adapt(4px) 0;
  transition: width var(--trans-fast);
}

.completeProgressBar {
  border-radius: adapt(6px) adapt(6px) 0 0;
}
