@import 'src/shared/lib/styles/mixins';

.infoCard {
  position: relative;
  width: 100%;
  height: adapt(70px);
  background-color: var(--light-gray);
  border-radius: 6px;
  padding: adapt(12px);
  overflow: hidden;

  @include mobileLandscape {
    height: 48px;
    padding: 8px;
  }
}

.progressBar {
  top: 0;
  left: 0;
  position: absolute;
  height: adapt(8px);
  background-color: var(--green);
  border-radius: adapt(6px) adapt(4px) adapt(4px) 0;
  transition: width var(--trans-fast);

  @include mobileLandscape {
    height: 8px;
    border-radius: 6px 4px 4px 0;
  }
}

.completeProgressBar {
  border-radius: adapt(6px) adapt(6px) 0 0;

  @include mobileLandscape {
    border-radius: 6px 6px 0 0;
  }
}
