@import 'src/shared/lib/styles/mixins';

$controlElements: calc(32px + 70px + 32px + 36px);

.game {
  margin: 0 auto;
  padding: 16px;
  max-width: calc(100vh - $controlElements + 32px);
  height: 100vh;
  max-height: calc(100vw + $controlElements);
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.info {
  display: flex;
  column-gap: 8px;

  & > * {
    width: 50% !important;
  }
}

.fieldWrapper {
  max-width: calc(100vh - $controlElements);
  height: calc(100vh - $controlElements);
}

.controls {
  display: flex;
  justify-content: space-between;
}

.rightColumn {
  display: flex;
  column-gap: 8px;
}

.button {
  align-self: flex-start;
}
