.game {
  margin: 0 auto;
  padding: 16px;
  width: calc(100vh - 32px - 16px - 70px - 31px + 32px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.info {
  display: flex;
  column-gap: 8px;

  & > * {
    width: 50% !important;
  }
}

.fieldWrapper {
  width: calc(100vh - 32px - 16px - 70px - 31px);
  height: calc(100vh - 32px - 16px - 70px - 31px);
}

.controls {
  display: flex;
  justify-content: space-between;
}

.button {
  align-self: flex-start;
}
